@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
}

a {
  text-decoration: none !important;
}

img {
  width: 100%;
  height: auto;
}

.btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body,
html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100vh;
  position: relative;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

.container {
  max-width: 1200px !important;
  padding: 0;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 30px !important;
  }
}

.h-100 {
  height: 100vh !important;
}

.heading h2 {
  font-size: 2rem;
  font-weight: 500;
}

.heading h4 {
  font-size: 1rem;
  font-weight: 700;
}

.heading .line {
  width: 80px;
  height: 3px;
  background: #506CF0;
  border-radius: 5px;
}

.heading .line.light {
  background: white;
  height: 2px;
  opacity: 0.5;
  margin-top: 8px;
}

@media screen and (max-width: 768px) {
  .heading h2 {
    font-size: 1.7rem !important;
  }
}

.noteItalic {
  font-style: italic;
  font-size: 0.8rem;
  color: #101010;
  color: #506CF0;
}

.coursesSlider .card {
  width: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
  margin: 0.5rem 1rem 0.5rem 6px;
  -webkit-box-shadow: 0px 0px 6px #00000029;
          box-shadow: 0px 0px 6px #00000029;
}

.coursesSlider .card .image .discount {
  background: #21DF60;
  position: absolute;
  top: 1rem;
  right: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 0.8rem;
  color: white;
  padding: 0.2rem 1.5rem;
}

.coursesSlider .card .cardBody {
  padding: 1rem;
}

.coursesSlider .card .cardBody .cardHeading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.coursesSlider .card .cardBody .cardHeading h3 {
  font-size: 1.1rem;
  color: #101010;
  font-weight: 700;
}

.coursesSlider .card .cardBody .cardHeading .author {
  font-size: 0.9rem;
  color: #101010;
  opacity: 0.7;
}

.coursesSlider .card .cardBody .cardPara {
  font-size: 0.8rem;
  color: #101010;
  opacity: 0.7;
  margin: 5px 0 0.5rem 0;
}

.coursesSlider .card .more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.coursesSlider .card .more .duration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.coursesSlider .card .more .duration img {
  max-width: 1rem;
  margin-right: 0.25rem;
}

.coursesSlider .card .more .duration span {
  font-size: 0.9rem;
  color: #101010;
  opacity: 0.7;
  white-space: nowrap;
}

.coursesSlider .card .more .price h4 {
  font-size: 0.9rem;
  color: #101010;
  font-weight: 700;
}

.coursesSlider .card .more .price span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 10px;
  color: #506CF0;
}

.coursesSlider .card .more .price span .strike {
  color: #AEAEAE;
  font-size: 0.8rem;
  text-decoration: line-through;
  line-height: 100%;
  padding-right: 4px;
}

.coursesSlider .card .btn {
  min-width: initial !important;
  width: 100%;
  padding: 0.25rem;
  margin: 0;
  margin-top: 1rem;
}

.btn {
  display: inline-block;
  min-width: 200px;
  background: white;
  border: 1px solid #506CF0;
  color: #506CF0;
  padding: 0.6rem;
  position: relative;
}

.btn.solid {
  background: #506CF0;
  color: white;
}

.btn:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #506CF0;
  opacity: 0.2;
  z-index: -1;
  border-radius: inherit;
  -webkit-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
}

.btn:hover:after {
  top: 0.8rem;
  left: 0.8rem;
}

@media screen and (max-width: 768px) {
  .btn {
    padding: 0.4 !important;
  }
  .btn:hover:after {
    display: none !important;
  }
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 1000;
  -webkit-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.preloader h1 {
  font-weight: 700;
  position: relative;
  z-index: 10;
  overflow: hidden;
}

.preloader h1:after {
  position: absolute;
  top: 90%;
  left: 0;
  right: auto;
  bottom: auto;
  width: 100%;
  height: 100%;
  content: '';
  height: 5px;
  width: 50px;
  border-radius: 5px;
  background: #506CF0;
  z-index: -1;
  -webkit-animation: animate 2s ease-in-out alternate infinite;
          animation: animate 2s ease-in-out alternate infinite;
}

.preloader.hide {
  opacity: 0;
  visibility: hidden;
}

@-webkit-keyframes animate {
  0% {
    left: -50px;
  }
  100% {
    left: 100%;
  }
}

@keyframes animate {
  0% {
    left: -50px;
  }
  100% {
    left: 100%;
  }
}

body.scroll-down .navbar {
  top: -150px;
}

body.scroll-up .navbar {
  top: 0;
  background: white;
  padding: 0.8rem 0;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05);
}

.navbar {
  padding: 2rem 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  -webkit-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
}

.navbar input {
  display: none;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .logo label {
  display: none;
}

.navbar .logo a {
  display: inline-block;
}

.navbar .logo a img {
  max-width: 120px;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.5rem;
}

.navbar ul li > a {
  display: inline-block;
  font-weight: 500;
  color: #101010;
  position: relative;
  -webkit-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  padding: 0.25rem 0;
}

.navbar ul li > a.active {
  color: #506CF0;
}

.navbar ul li > a:hover {
  color: #506CF0;
}

.navbar ul li > a:hover:after {
  width: 100%;
}

.navbar ul li > a::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  height: 2px;
  width: 0;
  background: #506CF0;
  -webkit-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
}

@media screen and (max-width: 1300px) {
  .navbar ul {
    gap: 2.2rem;
  }
}

@media screen and (max-width: 992px) {
  .navbar ul {
    gap: 2rem;
  }
  .navbar ul a {
    font-size: 0.95rem;
  }
  .navbar .logo a {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 768px) {
  .navbar .logo {
    width: 100%;
    position: relative;
    z-index: 999;
  }
  .navbar .logo a {
    font-size: 1.5rem;
  }
  .navbar .logo .toggleBtn {
    display: block;
    width: 30px;
    height: 20px;
    position: relative;
    cursor: pointer;
    margin: 0;
  }
  .navbar .logo .toggleBtn .line {
    width: 100%;
    height: 2px;
    background: #101010;
    position: absolute;
    -webkit-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
  }
  .navbar .logo .toggleBtn .one {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .navbar .logo .toggleBtn .two {
    top: 2%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .navbar .logo .toggleBtn .three {
    top: 98%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .navbar .toggleCheck:checked ~ .logo .toggleBtn .one {
    opacity: 0;
    visibility: hidden;
  }
  .navbar .toggleCheck:checked ~ .logo .toggleBtn .two {
    top: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
  }
  .navbar .toggleCheck:checked ~ .logo .toggleBtn .three {
    top: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
            transform: translate(-50%, -50%) rotate(-45deg);
  }
  .navbar ul {
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: white;
    width: 50%;
    height: 100vh;
    z-index: 1000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    gap: 1.5rem;
    font-size: 1rem;
    left: -1000px;
    -webkit-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  }
  .navbar .toggleCheck:checked ~ ul {
    left: 0;
  }
}

@media screen and (max-width: 450px) {
  .navbar ul {
    width: 70%;
  }
}

footer {
  background: #1d1c1c;
  color: white;
  padding-top: 100px;
  padding-bottom: 1.5rem;
}

footer [class*=col-] {
  padding: 0 2rem;
}

footer .about h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
}

footer .about h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  margin: 2rem 0;
  font-size: 1.2rem;
}

footer .about h2 .line {
  width: 100%;
  height: 1px;
  background: white;
  opacity: 0.5;
}

footer .subHeading {
  font-size: 1.1rem;
}

footer .footerPara {
  font-size: 0.9rem;
  font-weight: 300;
}

footer .contact {
  margin-top: 2rem;
}

footer .contact p {
  font-size: 0.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.7;
  font-weight: 300;
  margin: 5px 0;
}

footer .contact p img {
  width: 1rem;
  margin-right: 0.5rem;
}

footer .links .row {
  gap: 2rem;
}

footer .links [class*=col-] {
  padding: 0 1rem;
}

footer .links a {
  color: white;
  font-weight: 300;
  font-size: 0.9rem;
  opacity: 0.7;
  -webkit-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  display: inline-block;
  width: 100%;
  white-space: nowrap;
}

footer .links a:hover {
  opacity: 1;
}

footer hr {
  margin: 1.5rem 0;
  background: white;
  opacity: 0.4;
}

footer .copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .copy .rights {
  font-size: 0.9rem;
  font-weight: 300;
  opacity: 0.7;
}

footer .copy .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

footer .copy .social a {
  display: inline-block;
  width: 1rem;
}

footer .copy .social a img {
  height: 1rem;
}

@media screen and (max-width: 768px) {
  footer .links .row {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  footer .links [class*=col-] {
    padding: 0 1rem !important;
  }
  footer .links [class*=col-]:first-child {
    margin: 1rem 0 0 !important;
  }
  footer .links .heading {
    margin-top: 1.5rem;
  }
  footer .copy {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 0 !important;
  }
}

@media screen and (max-width: 1300px) {
  .container {
    padding: 0 100px;
  }
  .hero .content h1 {
    font-size: 2.5rem !important;
  }
  .courseDetails .fixedCard {
    width: 100% !important;
  }
}

@media screen and (max-width: 992px) {
  .container {
    padding: 0 50px;
  }
  .hero .content h1 {
    font-size: 2rem !important;
  }
  .courseDetails [class*=col-] {
    padding: 0.5rem !important;
  }
  .courseDetails .courseDescription,
  .courseDetails .infographics,
  .courseDetails .fixedCard {
    padding: 1.8rem !important;
    margin: 1.25rem 0 !important;
  }
  .courseDetails .fixedCard {
    margin: 0 !important;
  }
  .contactUs .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .contactUs * {
    max-width: initial !important;
    width: 100% !important;
  }
  .contactUs .contactForm .ill {
    display: none;
  }
  .contactUs .contactForm {
    margin-bottom: 2rem;
  }
  .contactUs .heading.one {
    display: none;
  }
  .contactUs .heading.two {
    display: block !important;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 769px) {
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .hero .content {
    width: 100% !important;
  }
  .hero .content h1 {
    font-size: 2rem !important;
  }
  .hero a {
    margin-top: 0 !important;
  }
  .hero .redSvg {
    top: 20% !important;
    max-width: 50% !important;
  }
  .hero .blueSvg {
    opacity: 0.2 !important;
  }
  .hero .ill {
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
    margin-bottom: 1rem;
  }
  .hero .ill img {
    max-width: 80%;
    margin-left: -20px;
  }
  .hero .wrapper {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
  }
  .hero .wrapper #heroSliderDots {
    margin-top: initial !important;
    margin-bottom: 1.5rem !important;
  }
  .whyCourseUp .heading {
    text-align: left;
  }
  .whyCourseUp .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
    gap: 2rem !important;
  }
  .whyCourseUp .card {
    max-width: 100%;
    width: 100% !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    gap: 1rem !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    text-align: left;
    -ms-flex-wrap: initial !important;
        flex-wrap: initial !important;
    -webkit-box-flex: initial !important;
        -ms-flex: initial !important;
            flex: initial !important;
  }
  .whyCourseUp .card .image {
    min-width: 80px;
    margin: 0 !important;
  }
  .courses .button-group {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .bar .container .info {
    width: 100%;
    margin: 0;
  }
  .bar .container .info:not(:last-child) {
    border-right: none;
    border-bottom: 1px solid #AEAEAE;
  }
  .bar .container .info:not(:first-child) {
    padding-left: 0 !important;
  }
  .cta {
    margin-top: 0 !important;
  }
  .cta .ctaOverlay {
    display: none;
  }
  .cta .row {
    gap: 0.25rem !important;
    margin: 2rem 0 0 !important;
    width: 100%;
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
  }
  .cta .row .btn {
    min-width: 160px !important;
  }
  .teachers .teacherSlider {
    margin-top: 3rem !important;
  }
  .teachers:after {
    width: 100% !important;
  }
  .teachers .btn {
    margin-top: 1.5rem !important;
  }
  .testimonials .liveDemo {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    padding: 2rem 1.5rem !important;
  }
  .testimonials .liveDemo .line {
    display: none !important;
  }
  .testimonials .liveDemo .text {
    padding: 0 !important;
    max-width: 100% !important;
  }
  .testimonials .liveDemo .button {
    width: 100% !important;
    margin-top: 1rem;
    text-align: left !important;
  }
  .courseDetails {
    padding: 120px 0 2rem 0 !important;
  }
  .relatedCourses {
    margin-bottom: 2rem !important;
  }
  .contactUs {
    padding-bottom: 60px !important;
  }
  .contactUs .contactForm {
    padding: 1.5rem !important;
  }
  .contactUs .contactForm input:not(input[type=submit]) {
    border-color: #ddd !important;
  }
}

.hero {
  width: 100%;
  height: 100vh;
  background: linear-gradient(120deg, #FAFAFA 20%, #6391b980 100%);
  position: relative;
  border-bottom-left-radius: 100px;
}

.hero .container {
  position: relative;
  z-index: 100;
}

.hero .slick-dots {
  text-align: left !important;
  position: relative !important;
  bottom: 0 !important;
}

.hero .slick-dots li {
  margin-right: 4px;
  width: 8px;
  height: 8px;
}

.hero .slick-dots li button::before {
  content: '' !important;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #506CF0;
  opacity: 0.3;
}

.hero .slick-dots li.slick-active button::before {
  opacity: 1;
}

.hero [class*=col-] {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .overlayBlur {
  position: absolute;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
  width: 100%;
  height: 100%;
  -webkit-filter: blur(100px);
          filter: blur(100px);
  border-bottom-left-radius: 100px;
  background: rgba(255, 255, 255, 0.1);
  z-index: 1;
}

.hero .redSvg {
  position: absolute;
  top: 50%;
  left: auto;
  right: 0;
  bottom: auto;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  max-width: 30%;
  -webkit-filter: blur(50px);
          filter: blur(50px);
  opacity: 0.08;
  z-index: 2;
}

.hero .blueSvg {
  position: absolute;
  top: 21%;
  left: 30%;
  right: auto;
  bottom: auto;
  width: 100%;
  height: 100%;
  max-width: 20%;
  -webkit-filter: blur(50px);
          filter: blur(50px);
  opacity: 0.1;
  z-index: 2;
}

.hero .content {
  width: 80%;
  padding: 1rem;
}

.hero .content h1 {
  font-size: 3rem;
  font-weight: 700;
  opacity: 0.8;
  color: #101010;
}

.hero .content p {
  font-size: 1rem;
  color: #101010;
  opacity: 0.5;
  margin-top: 10px;
}

.hero .content a {
  display: inline-block;
  margin-top: 30px;
}

.hero .row .hero-slider-ill {
  width: 100%;
}

.hero .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero .wrapper .btn {
  max-width: 200px;
}

.hero .wrapper #heroSliderDots {
  margin-top: 1.5rem;
}

.whyCourseUp {
  padding: 120px 0;
  text-align: center;
  position: relative;
}

@media screen and (max-width: 768px) {
  .whyCourseUp {
    padding: 60px 0;
  }
}

.whyCourseUp .container {
  position: relative;
  z-index: 100;
}

.whyCourseUp .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: url("../assets/svgs/why-us-background.svg") center no-repeat;
  opacity: 0.5;
}

.whyCourseUp .heading {
  color: #506CF0;
}

.whyCourseUp .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start !important;
      -ms-flex-align: start !important;
          align-items: flex-start !important;
  gap: 3rem;
  margin-top: 3rem;
}

.whyCourseUp .wrapper .card {
  background: none;
  border: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.whyCourseUp .wrapper .cardHeading {
  font-size: 1.1rem;
  color: #101010;
  font-weight: 700;
  margin-bottom: 5px;
}

.whyCourseUp .wrapper .cardPara {
  font-size: 1rem;
  color: #101010;
  font-weight: 300;
}

.whyCourseUp .wrapper .image {
  width: 5rem;
  height: 5rem;
  background: white;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  margin: auto;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.whyCourseUp .wrapper .image img {
  max-width: 2.5rem;
}

.courses {
  padding: 120px 0;
}

@media screen and (max-width: 768px) {
  .courses {
    padding: 60px 0;
  }
}

.courses .button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.25rem 1.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 2rem 0 1.5rem 0;
}

.courses .button-group button {
  background: none;
  border: none;
  padding: 0.25rem 0.35rem;
  border-bottom: 2px solid transparent;
  -webkit-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  outline: none;
  opacity: 0.4;
  font-size: 0.9rem;
}

.courses .button-group button.is-checked {
  border-color: #506CF0;
  opacity: 1;
}

.courses .courseSliderControls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.courses .courseSliderControls .slick-dots {
  text-align: left !important;
  position: relative !important;
  bottom: 0 !important;
}

.courses .courseSliderControls .slick-dots li {
  margin-right: 4px;
  width: 8px;
  height: 8px;
}

.courses .courseSliderControls .slick-dots li button::before {
  content: '' !important;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #506CF0;
  opacity: 0.3;
}

.courses .courseSliderControls .slick-dots li.slick-active button::before {
  opacity: 1;
}

.courses .courseSliderControls .slickArrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.courses .courseSliderControls .slickArrow button {
  border: none;
  background: none;
  outline: none;
  margin-right: 1rem;
}

.courses .courseSliderControls .slickArrow .right {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.courses .courseSliderControls .slickArrow button {
  margin-right: 0rem;
}

.courses .courseSliderControls .slickArrow button.slickBtn {
  background: white;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  -webkit-box-shadow: 0px 0px 6px #00000029;
          box-shadow: 0px 0px 6px #00000029;
}

.courses .courseSliderControls .slickArrow button.slickBtn img {
  width: 15px;
}

.bar {
  background: #506CF0;
  color: white;
}

.bar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.bar .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.9rem;
  line-height: 130%;
  padding: 1rem 2rem 1rem 0;
  margin-right: 1rem;
  width: calc(33.33% - 1rem);
}

.bar .info .image {
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 0.5rem;
}

.bar .info .image img {
  max-width: 25px;
}

.bar .info p {
  width: calc(100% - 50px - 2rem);
}

.bar .info:not(:last-child) {
  border-right: 1px solid #AEAEAE;
}

.bar .info:not(:first-child) {
  padding-left: 2rem;
}

.bar .info:last-child {
  padding-right: 0 !important;
  margin-right: 0 !important;
}

.cta {
  position: relative;
  padding: 120px 0;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .cta {
    padding: 60px 0;
  }
}

.cta .container {
  position: relative;
  z-index: 100;
}

.cta .ctaOverlay {
  display: none;
  position: absolute;
  top: -25px;
  left: auto;
  right: 0;
  bottom: auto;
  width: 100%;
  height: 100%;
  width: 85%;
  height: 50px;
  background: rgba(0, 182, 250, 0.05);
}

.cta .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
  margin-top: 2rem;
}

.teachers {
  padding: 60px 0;
  position: relative;
}

.teachers:after {
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
  width: 100%;
  height: 100%;
  content: '';
  background: rgba(0, 182, 250, 0.05);
  z-index: -1;
  width: 85%;
}

.teachers .para {
  font-size: 0.9rem;
  color: #101010;
  opacity: 0.7;
  margin: 0.5rem 0;
}

.teachers .btn {
  margin-top: 2rem;
}

.teachers .card {
  border-radius: 5px;
  overflow: hidden;
  margin-right: 1.5rem;
}

.teachers .card .content {
  padding: 1rem;
  text-align: center;
}

.teachers .card .cardHeading {
  font-size: 1.1rem;
  color: #101010;
}

.teachers .card .name {
  font-size: 0.9rem;
  color: #101010;
  opacity: 0.7;
  margin-top: 0.5rem;
}

.teachers .sliderDots {
  position: relative;
}

.teachers .sliderDots .slick-dots {
  text-align: left !important;
  position: relative !important;
  bottom: 0 !important;
}

.teachers .sliderDots .slick-dots li {
  margin-right: 4px;
  width: 8px;
  height: 8px;
}

.teachers .sliderDots .slick-dots li button::before {
  content: '' !important;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #506CF0;
  opacity: 0.3;
}

.teachers .sliderDots .slick-dots li.slick-active button::before {
  opacity: 1;
}

.teachers .teacherSlider {
  margin: 0;
}

.faq {
  padding: 120px 0;
  max-width: 800px !important;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .faq {
    padding: 60px 0;
  }
}

.faq .card {
  border: none;
  max-width: initial !important;
  width: 100%;
}

.faq .card:not(:last-child) {
  border-bottom: 1px solid #dfdfdf;
}

.faq .card-header {
  background: white;
  border: none;
  outline: none;
  padding: 0.5rem 0;
}

.faq .card-header button {
  text-align: left !important;
  width: 100%;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  text-decoration: none;
  font-size: 1rem;
  color: #101010;
}

.faq .card-header button:after {
  display: none;
}

.faq .card-header img {
  width: 0.5rem;
}

.faq .card-body {
  padding: 0rem 2rem 1rem 2rem;
}

.faq .card-body h4 {
  font-size: 0.9rem;
}

.faq .card-body p {
  font-size: 0.8rem;
  color: #101010;
  font-weight: 300;
  opacity: 0.7;
}

.faq .card-body li {
  margin: 5px 0;
}

.faq .card-body li::marker {
  font-size: 0.8rem;
}

.faq .card-body {
  padding: 0 1.25rem 1rem 1.25rem !important;
}

.faq p {
  font-size: 0.88rem !important;
}

.faq .heading {
  text-align: center;
  margin-bottom: 2rem;
}

.testimonials {
  text-align: center;
  padding: 120px 0;
}

.testimonials .slickArrow button {
  border: none;
  background: none;
  outline: none;
  margin-right: 1rem;
}

.testimonials .slickArrow .right {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

@media screen and (max-width: 768px) {
  .testimonials {
    padding: 60px 0;
  }
}

.testimonials .slickArrow {
  margin: 1.5rem auto;
}

.testimonials .card {
  margin: 0.5rem;
  background: none;
  border: none;
}

.testimonials .card .content {
  width: 90%;
  background: white;
  padding: 1rem;
  margin: auto;
  margin-top: -80px;
  position: relative;
  z-index: 100;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

.testimonials .card .quote {
  font-size: 4rem;
  line-height: 80%;
}

.testimonials .card .para {
  font-size: 0.8rem;
  color: #101010;
  opacity: 0.5;
  margin-top: -1rem;
  font-weight: 300;
}

.testimonials .card .name {
  font-size: 1rem;
  color: #101010;
  font-weight: 500;
  margin-top: 0.5rem;
}

.testimonials .liveDemo {
  background: #506CF0;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  margin-top: 120px;
  padding: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.testimonials .liveDemo .line {
  width: 10px;
  height: 100px;
  border-radius: 5px;
  background: white;
}

.testimonials .liveDemo .text {
  color: white;
  text-align: left;
  padding: 0 2.5rem;
  max-width: 70%;
  width: 100%;
}

.testimonials .liveDemo .text .para {
  opacity: 0.6;
  margin-top: 0.5rem;
}

.testimonials .liveDemo .text .heading h2 {
  font-weight: 700;
}

.testimonials .liveDemo .button {
  width: 30%;
  text-align: center;
}

.testimonials .liveDemo .button .btn {
  width: 100%;
  border-radius: 10px;
  color: #101010;
}

.aboutUs {
  padding: 120px 0;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .aboutUs {
    padding: 60px 0;
  }
}

.aboutUs .heading .line {
  margin: 0 auto;
}

.aboutUs p.para {
  font-size: 1rem;
  color: #101010;
  max-width: 768px;
  font-weight: 300;
  opacity: 0.8;
  margin: 1rem auto;
}

.courseDetails {
  padding: 150px 0;
  padding-bottom: 0;
}

.courseDetails .card {
  border: none;
  max-width: initial !important;
  width: 100%;
}

.courseDetails .card:not(:last-child) {
  border-bottom: 1px solid #dfdfdf;
}

.courseDetails .card-header {
  background: white;
  border: none;
  outline: none;
  padding: 0.5rem 0;
}

.courseDetails .card-header button {
  text-align: left !important;
  width: 100%;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  text-decoration: none;
  font-size: 1rem;
  color: #101010;
}

.courseDetails .card-header button:after {
  display: none;
}

.courseDetails .card-header img {
  width: 0.5rem;
}

.courseDetails .card-body {
  padding: 0rem 2rem 1rem 2rem;
}

.courseDetails .card-body h4 {
  font-size: 0.9rem;
}

.courseDetails .card-body p {
  font-size: 0.8rem;
  color: #101010;
  font-weight: 300;
  opacity: 0.7;
}

.courseDetails .card-body li {
  margin: 5px 0;
}

.courseDetails .card-body li::marker {
  font-size: 0.8rem;
}

.courseDetails .heading h2 {
  font-size: 1.8rem !important;
}

.courseDetails .headerImg {
  border-radius: 5px;
  overflow: hidden;
}

.courseDetails .courseDescription,
.courseDetails .infographics,
.courseDetails .fixedCard,
.courseDetails .additionalDetails {
  padding: 2.5rem;
  margin: 2.5rem 0;
  -webkit-box-shadow: 0 0 50px 0 #00000010;
          box-shadow: 0 0 50px 0 #00000010;
  border-radius: 8px;
}

.courseDetails .coursePara {
  font-size: 0.9rem;
  color: #101010;
  font-weight: 300;
  margin: 10px 0;
}

.courseDetails .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3rem 0 20px 0;
}

.courseDetails .title h4 {
  font-size: 1.1rem;
  color: #101010;
}

.courseDetails .title p {
  font-size: 0.9rem;
}

.courseDetails .infographics .nav-pills,
.courseDetails .additionalDetails .nav-pills {
  gap: 2rem;
  margin-top: 1.5rem;
}

.courseDetails .infographics .nav-link,
.courseDetails .additionalDetails .nav-link {
  font-weight: 500;
  color: #101010;
  opacity: 0.4;
  -webkit-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  border-radius: 0;
  background: none;
  border-bottom: 2px solid transparent;
  padding: 0.5rem;
}

.courseDetails .infographics .nav-link.active,
.courseDetails .additionalDetails .nav-link.active {
  opacity: 1;
  color: #506CF0;
  border-color: #506CF0;
}

.courseDetails .infographics p.para,
.courseDetails .infographics ul li,
.courseDetails .additionalDetails p.para,
.courseDetails .additionalDetails ul li {
  font-size: 0.9rem;
  font-weight: 300;
  opacity: 0.7;
  margin: 8px 0;
}

.courseDetails .infographics ul.details,
.courseDetails .additionalDetails ul.details {
  list-style: disc;
  padding-left: 1.1rem;
}

.courseDetails .infographics .heading,
.courseDetails .additionalDetails .heading {
  margin-top: 2rem;
}

.courseDetails .instructor .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}

.courseDetails .instructor .profile h5 {
  font-size: 1.1rem;
  color: #101010;
}

.courseDetails .instructor .profile img {
  max-width: 50px;
}

.courseDetails .fixedCard {
  width: 90%;
  margin: 0 auto;
  padding: 2rem;
  -webkit-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  position: -webkit-sticky;
  position: sticky;
  top: 4rem;
}

.courseDetails .fixedCard .tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.25rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 1rem;
}

.courseDetails .fixedCard .tags span {
  background: #E83151;
  color: white;
  font-size: 0.7rem;
  padding: 4px 8px 4px 16px;
  border-radius: 3px;
  position: relative;
}

.courseDetails .fixedCard .tags span:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 8px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 4px;
  height: 4px;
  border-radius: 4px;
  background: white;
}

.courseDetails .fixedCard .heading h4 {
  font-size: 1.1rem;
}

.courseDetails .fixedCard p.para {
  font-size: 0.8rem;
  margin-top: 8px;
  color: #101010;
  opacity: 0.7;
  font-weight: 300;
}

.courseDetails .fixedCard .features li {
  color: #101010;
  font-size: 1rem;
  margin: 4px 0;
}

.courseDetails .fixedCard .features li.bullet {
  position: relative;
  padding-left: 10px;
}

.courseDetails .fixedCard .features li.bullet:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 5px;
  height: 5px;
  border-radius: 4px;
  background: #21DF60;
}

.courseDetails .fixedCard .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  margin: 1rem 0;
}

.courseDetails .fixedCard .price h1 {
  font-size: 1.5rem;
  color: #E83151;
  font-weight: 700;
}

.courseDetails .fixedCard .price .strike {
  color: #AEAEAE;
  text-decoration: line-through;
}

.courseDetails .fixedCard .price .off {
  color: #506CF0;
  font-weight: 500;
}

.relatedCourses {
  padding: 120px 0;
}

@media screen and (max-width: 768px) {
  .relatedCourses {
    padding: 60px 0;
  }
}

.contactUs {
  padding: 150px 0;
}

.contactUs .heading h2 {
  font-weight: 700;
  font-size: 2.5rem;
  max-width: 380px;
}

.contactUs .para {
  font-size: 0.9rem;
  color: #101010;
  font-weight: 300;
  opacity: 0.7;
  margin: 1rem 0;
  max-width: 380px;
}

.contactUs .details a {
  display: block;
  margin: 0.5rem 0;
  color: #506CF0;
}

.contactUs .contactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  background: white;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  padding: 5rem 3rem;
}

.contactUs .contactForm:after {
  content: '';
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  right: auto;
  bottom: auto;
  width: 100%;
  height: 100%;
  background: #506CF0;
  z-index: -1;
  opacity: 0.1;
}

.contactUs .contactForm .ill {
  justify-self: flex-start;
  margin-right: 2rem;
  margin-bottom: 1rem;
}

.contactUs .contactForm .ill img {
  max-width: 200px;
}

.contactUs .contactForm .inputs {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.contactUs .contactForm .inputs input:not(input[type=submit]) {
  width: 100%;
  padding: 1.25rem;
  border: 1px solid #AEAEAE;
  border-radius: 0;
}

.contactUs .contactForm .inputs input[type=submit] {
  border-radius: 0;
  width: 100%;
}
/*# sourceMappingURL=main.css.map */