@import "./Partials/variables";
@import "./Partials/resets";
@import "./Utilities/mixins";
@import "./Partials/global";
@import "./Utilities/spacing";

@import "./Components/btns";
@import "./Components/preloader";
@import "./Components/navigation";
@import "./Components/footer";

@import "./Partials/responsive";



// ? STYLING HERO
// ? ==============================
.hero {
   width: 100%;
   height: 100vh;
   background: linear-gradient(120deg, #FAFAFA 20%, #6391b980 100%);
   position: relative;
   border-bottom-left-radius: 100px;
   @include container-100;
   @include slick-dots;

   [class *=col-] {
      height: 100vh;
      display: flex;
      align-items: center;
   }

   // layer blur
   .overlayBlur {
      @include position {
         filter: blur(100px);
         border-bottom-left-radius: 100px;
         background: rgba($color: #fff, $alpha: 0.1);
         z-index: 1;
      }
   }

   // red svg
   .redSvg {
      @include position($top : 50%, $right : 0) {
         transform: translateY(-50%);
         max-width: 30%;
         filter: blur(50px);
         opacity: 0.08;
         z-index: 2;
      }
   }

   // blue svg
   .blueSvg {
      @include position($left : 30%, $top : 21%) {
         max-width: 20%;
         filter: blur(50px);
         opacity: 0.1;
         z-index: 2;
      }
   }

   .content {
      width: 80%;
      padding: 1rem;

      h1 {
         font-size: 3rem;
         @include font-weight(bold);
         @include opacity(0.8);
         color: $dark-color;
      }

      p {
         @include para1 {
            @include opacity(0.5);
         }

         margin-top: 10px;
      }

      a {
         display: inline-block;
         margin-top: 30px;
      }
   }

   .row {
      .hero-slider-ill {
         width: 100%;
      }
   }

   .wrapper {
      display: flex;
      flex-direction: column;

      .btn {
         max-width: 200px
      }

      #heroSliderDots {
         margin-top: 1.5rem;
      }
   }
}


// ? STYLING WHY COURSEUP
// ? ==============================
.whyCourseUp {
   @include spacing-120;
   text-align: center;
   position: relative;
   @include container-100;

   .overlay {
      @include position($top:0, $left:0) {
         z-index: 1;
         background: url("../assets/svgs/why-us-background.svg") center no-repeat;
         opacity: 0.5;
      }
   }

   .heading {
      color: $blue-color;
   }

   .wrapper {
      @include flex-center;
      align-items: flex-start !important;
      gap: 3rem;
      margin-top: 3rem;

      .card {
         background: none;
         border: none;
         flex: 1
      }

      .cardHeading {
         @include title2 {
            @include font-weight(bold);
         }

         margin-bottom: 5px;
      }

      .cardPara {
         @include para1 {
            @include font-weight(light);
         }
      }

      .image {
         width: 5rem;
         height: 5rem;
         background: white;
         box-shadow: $box-shadow;
         border-radius: 50%;
         margin: auto;
         margin-bottom: 1rem;
         @include flex-center;

         img {
            max-width: 2.5rem;
         }
      }
   }
}

// ? STYLING WHY COURSES
// ? ==============================
.courses {
   @include spacing-120;

   // button group
   .button-group {
      display: flex;
      align-items: center;
      gap: 0.25rem 1.5rem;
      flex-wrap: wrap;
      margin: 2rem 0 1.5rem 0;

      button {
         background: none;
         border: none;
         padding: 0.25rem 0.35rem;
         border-bottom: 2px solid transparent;
         transition: $transition;
         outline: none;
         opacity: 0.4;
         font-size: 1.1rem;

         &.is-checked {
            border-color: $blue-color;
            opacity: 1;
         }
      }
   }

   .courseSliderControls {
      @include flex-center;
      @include slick-dots;

      @include slick-arrow {
         display: flex;

         button {
            margin-right: 0rem;
         }

         button.slickBtn {
            background: white;
            border-radius: 50px;
            width: 40px;
            height: 40px;
            box-shadow: $box-shadow4;

            img {
               width: 15px;
            }
         }
      }
   }
}

// ? STYLING BAR
// ? ==============================
.bar {
   background: $blue-color;
   color: white;

   .container {
      @include flex-between;
      flex-wrap: wrap;
   }

   .info {
      display: flex;
      align-items: center;
      // flex-wrap: wrap;
      font-size: 0.9rem;
      line-height: 130%;
      padding: 1rem 2rem 1rem 0;
      margin-right: 1rem;
      width: calc(33.33% - 1rem);

      .image {
         width: 40px;
         height: 40px;
         background: white;
         border-radius: 50%;
         @include flex-center;
         margin-right: 0.5rem;

         img {
            max-width: 25px;
         }
      }

      p {
         width: calc(100% - 50px - 2rem);
      }

      &:not(:last-child) {
         border-right: 1px solid $gray-color;
      }

      &:not(:first-child) {
         padding-left: 2rem;
      }

      &:last-child {
         padding-right: 0 !important;
         margin-right: 0 !important;
      }
   }
}

// ? STYLING CTA
// ? ==============================
.cta {
   position: relative;
   @include spacing-120;
   @include container-100;
   text-align: center;

   .ctaOverlay {
      display: none;

      @include position($top: -25px, $right: 0) {
         width: 85%;
         height: 50px;
         background: rgba($color: #00B6FA, $alpha: 0.05);
      }
   }

   .row {
      justify-content: center;
      gap: 1.5rem;
      margin-top: 2rem;
   }

}

// ? STYLING TEACHERS
// ? ==============================
.teachers {
   padding: 60px 0;
   position: relative;

   &:after {
      @include position($top: 0, $left:0) {
         content: '';
         background: rgba($color: #00B6FA, $alpha: 0.05);
         z-index: -1;
         width: 85%;
      }
   }

   .para {
      @include para2 {
         @include opacity(0.7);
      }

      margin: 0.5rem 0;
   }

   .btn {
      margin-top: 2rem;
   }

   .card {
      border-radius: 5px;
      overflow: hidden;
      margin-right: 1.5rem;

      .content {
         padding: 1rem;
         text-align: center;
      }

      .cardHeading {
         @include title2;
      }

      .name {
         @include para2 {
            @include opacity(0.7);
         }

         margin-top: 0.5rem;
      }
   }

   // repositioning slider dots
   .sliderDots {
      position: relative;
      @include slick-dots;
   }

   .teacherSlider {
      margin: 0;
   }
}

// ? STYLING FAQ
// ? ==============================
.faq {
   @include spacing-120;

   @include accordion {
      max-width: 800px !important;
      margin: auto;

      .card-header {
         button {
            font-size: 1.1rem !important;
         }
      }

      .card-body {
         padding: 0 1.25rem 1rem 1.25rem !important;
      }

      p {
         font-size: 1rem !important;
      }
   }

   .heading {
      text-align: center;
      margin-bottom: 2rem;
   }
}

// ? STYLING TESTIMONIALS
// ? ==============================
.testimonials {
   text-align: center;
   @include slick-arrow;
   @include spacing-120;

   .slickArrow {
      margin: 1.5rem auto;
   }

   .card {
      margin: 0.5rem;
      background: none;
      border: none;

      .content {
         width: 90%;
         background: white;
         padding: 1rem;
         margin: auto;
         margin-top: -80px;
         position: relative;
         z-index: 100;
         box-shadow: $box-shadow;
      }

      .quote {
         font-size: 4rem;
         line-height: 80%;
      }

      .para {
         @include para3 {
            @include opacity(0.5);
         }

         margin-top: -1rem;
         font-weight: map-get($map: $font-weight, $key: light);
      }

      .name {
         @include para1 {
            @include font-weight(medium);
         }

         margin-top: 0.5rem;
      }
   }

   .liveDemo {
      background: $blue-color;
      border-radius: 10px;
      box-shadow: $box-shadow;
      margin-top: 120px;
      padding: 2.5rem;

      display: flex;
      align-items: center;
      justify-content: space-between;

      .line {
         width: 10px;
         height: 100px;
         border-radius: 5px;
         background: white;
      }

      .text {
         color: white;
         text-align: left;
         padding: 0 2.5rem;
         max-width: 70%;
         width: 100%;

         .para {
            opacity: 0.6;
            margin-top: 0.5rem;
         }

         .heading h2 {
            @include font-weight(bold);
         }
      }

      .button {
         width: 30%;
         text-align: center;

         .btn {
            width: 100%;
            border-radius: 10px;
            color: $dark-color
         }
      }
   }
}

// ? STYLING ABOUT US
// ? ==============================

.aboutUs {
   @include spacing-120;
   text-align: center;

   .heading .line {
      margin: 0 auto;
   }

   p.para {
      @include para1 {
         max-width: 768px;
         @include font-weight(light);
         @include opacity(0.8);
         margin: 1rem auto;
      }
   }
}


// ? STYLING COURSE DETAILS
// ? ==============================

.courseDetails {
   @include section-padding;
   padding-bottom: 0;
   @include accordion;

   .heading h2 {
      font-size: 1.8rem !important;
   }

   .headerImg {
      border-radius: 5px;
      overflow: hidden;
   }

   // course description
   .courseDescription,
   .infographics,
   .fixedCard,
   .additionalDetails {
      padding: 2.5rem;
      margin: 2.5rem 0;
      box-shadow: 0 0 50px 0 #00000010;
      border-radius: 8px;
   }

   .coursePara {
      font-size: 0.9rem;
      color: $dark-color;
      font-weight: map-get($map: $font-weight, $key: light);
      margin: 10px 0;
   }

   .title {
      @include flex-between;
      margin: 3rem 0 20px 0;

      h4 {
         @include title2;
      }

      p {
         font-size: 0.9rem;
      }
   }

   .manyMore {
      @include para2 {
         @include font-weight(light);
         width: min-content;
         white-space: nowrap;
         margin: 1rem 1.5rem 1rem auto;
         position: relative;

         &:after {
            @include position($top: 50%, $right:-1rem) {
               transform: translateY(-50%);
               content: '';
               width: 10px;
               height: 10px;
               background: $dark-color;
               clip-path: polygon(0 0, 100% 50%, 0 100%);
            }
         }
      }
   }

   // infographics
   .infographics,
   .additionalDetails {
      .nav-pills {
         gap: 2rem;
         margin-top: 1.5rem;
      }

      .nav-link {
         font-weight: map-get($map: $font-weight, $key: medium);
         color: $dark-color;
         opacity: 0.4;
         transition: $transition;
         border-radius: 0;
         background: none;
         border-bottom: 2px solid transparent;
         padding: 0.5rem;

         &.active {
            opacity: 1;
            color: $blue-color;
            border-color: $blue-color;
         }
      }

      p.para,
      ul li {
         font-size: 0.9rem;
         font-weight: map-get($map: $font-weight, $key: light);
         opacity: 0.7;
         margin: 8px 0;
      }

      ul.details {
         list-style: disc;
         padding-left: 1.1rem;
      }

      .heading {
         margin-top: 2rem;
      }
   }

   // instructor
   .instructor {
      .profile {
         display: flex;
         align-items: center;
         gap: 1rem;
         margin: 1rem 0;

         h5 {
            font-size: 1.1rem;
            color: $dark-color;
         }

         img {
            max-width: 50px;
         }
      }
   }

   // fixed card
   .fixedCard {
      width: 90%;
      margin: 0 auto;
      padding: 2rem;
      transition: $transition;
      position: sticky;
      top: 4rem;

      .tags {
         display: flex;
         gap: 0.25rem;
         flex-wrap: wrap;
         margin-bottom: 1rem;

         span {
            background: $red-color;
            color: white;
            font-size: 0.7rem;
            padding: 4px 8px 4px 16px;
            border-radius: 3px;
            position: relative;

            &:after {
               content: '';
               position: absolute;
               top: 50%;
               left: 8px;
               transform: translateY(-50%);
               width: 4px;
               height: 4px;
               border-radius: 4px;
               background: white;
            }
         }
      }

      &.first {
         display: none;
      }

      .heading h4 {
         font-size: 1.1rem;
      }

      p.para {
         font-size: 0.8rem;
         margin-top: 8px;
         color: $dark-color;
         opacity: 0.7;
         font-weight: map-get($map: $font-weight, $key: light);
      }

      .features li {
         color: #101010;
         font-size: 1rem;
         margin: 4px 0;

         &.bullet {
            position: relative;
            padding-left: 10px;

            &:after {
               content: '';
               position: absolute;
               top: 50%;
               left: 0;
               transform: translateY(-50%);
               width: 5px;
               height: 5px;
               border-radius: 4px;
               background: $green-color;
            }
         }
      }

      .price {
         display: flex;
         align-items: center;
         gap: 8px;
         margin: 1rem 0;

         h1 {
            font-size: 1.5rem;
            color: $red-color;
            font-weight: map-get($map: $font-weight, $key: bold);
         }

         .strike {
            color: $gray-color;
            text-decoration: line-through;
         }

         .off {
            color: $blue-color;
            font-weight: map-get($map: $font-weight, $key: medium);
         }
      }
   }
}

.relatedCourses {
   @include spacing-120;
}


// ? STYLING CONTACt
// ? ==============================
.contactUs {
   @include spacing-150;

   .heading h2 {
      @include font-weight(bold);
      font-size: 2.5rem;
      max-width: 380px;
   }

   .para {
      @include para2 {
         @include font-weight(light);
         @include opacity(0.7);
         margin: 1rem 0;
         max-width: 380px;
      }
   }

   .details a {
      display: block;
      margin: 0.5rem 0;
      color: $blue-color;
   }

   .contactForm {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      background: white;
      box-shadow: $box-shadow;
      position: relative;
      padding: 5rem 3rem;

      &:after {
         content: '';
         @include position($top: 1.5rem, $left: 1.5rem);
         background: $blue-color;
         z-index: -1;
         opacity: 0.1;
      }

      .ill {
         justify-self: flex-start;
         margin-right: 2rem;
         margin-bottom: 1rem;
      }

      .ill img {
         max-width: 200px;
      }

      .inputs {
         width: 100%;
         flex: 1;

         input:not(input[type=submit]) {
            width: 100%;
            padding: 1.25rem;
            border: 1px solid $gray-color;
            border-radius: 0;

            &::placeholder {
               opacity: 0.5;
            }
         }

         input[type=submit] {
            border-radius: 0;
            width: 100%;
         }
      }
   }
}