@media screen and (max-width:1300px) {
   .container {
      padding: 0 100px;
   }

   // hero
   .hero {
      .content h1 {
         font-size: 2.5rem !important;
      }
   }

   // courseDetails
   .courseDetails {
      .fixedCard {
         width: 100% !important;
      }
   }
}

@media screen and (max-width:992px) {
   .container {
      padding: 0 50px;
   }

   .hero {
      .content h1 {
         font-size: 2rem !important;
      }
   }

   .courseDetails {
      [class *=col-] {
         padding: 0.5rem !important;
      }

      .courseDescription,
      .infographics,
      .fixedCard {
         padding: 1.8rem !important;
         margin: 1.25rem 0 !important;
      }

      .fixedCard {
         margin: 0 !important;
      }
   }

   // conact
   .contactUs {
      .row {
         flex-direction: column-reverse;
      }

      * {
         max-width: initial !important;
         width: 100% !important;
      }

      .contactForm .ill {
         display: none;
      }

      .contactForm {
         margin-bottom: 2rem;
      }

      .heading.one {
         display: none;
      }

      .heading.two {
         display: block !important;
         margin-bottom: 2rem;
      }
   }
}

@media screen and (max-width:768px) {
   .hero {
      @include flex-center;

      .row {
         flex-direction: column-reverse;
      }

      .content h1 {
         font-size: 2rem !important;
      }

      a {
         margin-top: 0 !important;
      }

      // red svg
      .redSvg {
         top: 20% !important;
         max-width: 50% !important;
      }

      // blue svg
      .blueSvg {
         opacity: 0.2 !important;
      }

      // illustration
      .ill {
         justify-content: flex-start !important;
         margin-bottom: 1rem;
      }

      .ill img {
         max-width: 80%;
         margin-left: -20px;
      }

      .wrapper {
         flex-direction: column-reverse !important;

         #heroSliderDots {
            margin-top: initial !important;
            margin-bottom: 1.5rem !important;
         }
      }
   }

   .whyCourseUp {
      .heading {
         text-align: left;
      }

      .wrapper {
         display: flex;
         flex-wrap: wrap;
         gap: 2rem !important;
      }

      .card {
         max-width: 100%;
         display: flex !important;
         align-items: center !important;
         gap: 1rem !important;
         flex-direction: row !important;
         text-align: left;
         flex-wrap: initial !important;
      }

      .card .image {
         min-width: 80px;
         margin: 0 !important;
      }
   }

   .courses {
      .button-group {
         justify-content: center;
      }
   }


   .bar .container .info {
      width: 100%;
      margin: 0;

      &:not(:last-child) {
         border-right: none;
         border-bottom: 1px solid $gray-color;
      }

      &:not(:first-child) {
         padding-left: 0 !important;
      }
   }

   .cta {
      margin-top: 0 !important;

      .ctaOverlay {
         display: none;
      }
   }

   .cta .row {
      gap: 1rem !important;
   }

   .teachers .teacherSlider {
      margin-top: 3rem !important;
   }

   .teachers {
      &:after {
         width: 100% !important;
      }

      .btn {
         margin-top: 1.5rem !important;
      }
   }

   .testimonials .liveDemo {
      flex-direction: column !important;
      padding: 2rem 1.5rem !important;

      .line {
         display: none !important;
      }

      .text {
         padding: 0 !important;
         max-width: 100% !important;
      }

      .button {
         width: 100% !important;
         margin-top: 1rem;
         text-align: left !important;
      }
   }

   .courseDetails {
      padding: 120px 0 1rem 0 !important;
   }

   .contactUs {
      padding-bottom: 60px !important;
   }

   .contactUs .contactForm {
      padding: 1.5rem !important;

      input:not(input[type=submit]) {
         border-color: #ddd !important;
      }
   }


}

@media screen and (max-width:500px) {}