.btn {
   display: inline-block;
   min-width: 200px;
   background: white;
   border: 1px solid $blue-color;
   color: $blue-color;
   padding: 0.6rem;
   position: relative;

   &.solid {
      background: $blue-color;
      color: white;
   }

   &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $blue-color;
      opacity: 0.2;
      z-index: -1;
      border-radius: inherit;
      transition: $transition;
   }

   &:hover:after {
      top: 0.8rem;
      left: 0.8rem;
   }

   &.dark:hover {
      color: $blue-color !important;
   }
}


@media screen and (max-width:768px) {
   .btn {
      padding: 0.4 !important;
   }

   .btn:hover:after {
      display: none !important
   }
}